* {
	box-sizing: border-box;
}
.task {
  max-width: 50%;
  border: 1px solid #aaa;
  padding: 7px 10px 7px 30px;
  border-radius: 3px;
  margin: 10px 0 20px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  position: fixed;
  top: 0;
  right: 15px;
}
.repl{
	background-color: #F4F7F8;
	padding: 15px;
	max-width: 48%;
}
.repl-h2{
	font-size: 28px;
	font-family: Arial;
	font-weight: bold;
	margin-bottom: 22px;
}
.preview{
	min-height: 64px;
	max-height: 160px;
	overflow: auto;
	background-color: #fff;
	padding: 10px;
}
.playable {
	font-family: monospace;
	display: block;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	border: 1px solid rgba(0,0,0,0.15);
	border-left: 6px solid #558ABB;
	color: #333;
	width: 100%;
	padding: 10px 10px 0px;
	font-size: 90%;
}
.playable-html {
    height: 160px;
	overflow: auto;
}
.repl-p {
  text-indent: 32px;
  margin-bottom: 15px;
  font-family: Arial;
}
.repl-p kbd {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-size: 16px;
}